body{
    background-color: #e3e2df;
    color: #5d001e;
    margin: 5px;
    padding: 2px;
}
header,
footer{
    text-align: center;
    background-color: #edc7b7;;
}
p {
    text-align: justify;
    text-indent: 3ch;
}
h2,h3,h4 {
    color: black;
    text-decoration-line: underline;
}
address{
    color: rgba(106, 104, 219, 0.966);
}